{% extends '@ContaoCore/Backend/be_page.html.twig' %}

{% block headline %}
ChartJs integration
{% endblock %}

{% block main %}
	<div id="tl_buttons">
		<a href="#" class="header_back" title="">Zurück</a>
	</div>
	<div id="tl_maintenance_mode" class="maintenance_inactive">
		<h2 class="sub_headline">Hier ist es</h2>
		<p style="">Eine Symfony-Route für ChartJs mit Twig-Template im Contao-Backend.</p>
	</div>
{% endblock %}

{% block error %}{% endblock %}